<h1>Welcome to POWER: Procedures are Optimal When Empathy Rules!</h1>
<h2>Remember, you have the POWER to positively (or negatively!) affect your patients for years to come.</h2>
<h2>In this scenario, you will meet Sophie and her parents. Practice making POWERful decisions!</h2>
<h3>Our highest score this month is XXX. How will you compare?</h3>
<div id="#stretcher">
<img src="images/SophieStretcher.png" style="position:absolute; right: 0px; bottom:0px; width: auto; max-width: 13%; height: auto">
</div>
<img src="images/ParentsAtDesk.png" style="position:absolute; left: 0px; bottom:20%; width: auto; max-width: 25%; height: auto">
